@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@font-face {
    font-family: 'Raboche-krestyanskiy';
    font-style: normal;
    src: local('Raboche-krestyanskiy'), url('../assets/fonts/Raboche-krestyanskiy.otf') format('truetype');
}
