@import url('reset.css');
@import url('font.css');
*{
    box-sizing: border-box;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    font-family: 'Montserrat';
}
.first-screen{
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.experiment{
    display: flex;
    align-items: center;
    height: 6vw;
    background-color: #fff;
    font-size: 5vw;
    font-weight: 900;
    gap: 2vw;
    width: 100vw;
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
}
.experiment div {
    display: inline-block;
    width: max-content;
    flex-shrink: 0;
    animation: experiment 5s linear infinite;
}
.experiment div:hover {
    animation-play-state: paused;
}


.first-screen-body{
    display: flex;
    flex-direction: row;
}
.welcome-screen{
    display: flex;
    flex-direction: column;
    background-color: #AE00FF;
    height: 39vw;
    width: 80vw;
    img{
        height: 39vw;
        width: 80vw;
    }
}
.welcome{
    display: flex;
    flex-direction: column-reverse;
    color: #fff;
    height: 13vw;
    width: fit-content;
    font-size: 3vw;
    font-weight: 900;
    padding: 1vw 1vw;
}
.tile{
    display: grid;
    grid-template-columns: repeat(10, calc((100% - 9 * 0.52vw)/10));
    grid-template-rows: repeat(2, 5vw);
    gap: 0.53vw;
    background-color: #fff;
}
.tile-black{
    background-color: #000000;
    transition: none;
    animation: colorChange1 0.8s step-end infinite;
}
.tile-green{
    background-color: #00FFAE;
    transition: none;
    animation: colorChange2 0.8s step-end infinite;
}
.name{
    font-family: "Notable";
    font-size: 19vw;
    color: #fff;
    padding: 1vw 1vw;
    transition: color 0.3s ease-in-out;
}
.name:hover {
    color: #1a072f;
}
.wheel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00FFAE;
    height: 39vw;
    width: 20vw;
    img{
        margin-left: 100%;
        height: 36vw;
        width: 36vw;
        animation: rotation 2s linear infinite;
    }
    
}
.reaction{
    display: flex;
    align-items: center;
    height: 6vw;
    color:#fff;
    background-color: #000000;
    font-size: 5vw;
    font-weight: 900;
    gap: 2vw;
    width: 100vw;
    white-space: nowrap;
    text-align: left;
}
.reaction div {
    display: inline-block;
    width: max-content;
    flex-shrink: 0;
    animation: reaction 4s linear infinite;
}
.reaction div:hover {
    animation-play-state: paused;
}

@keyframes rotation{
    0%{transform: rotate (0);}
    
    100%{transform: rotate(360deg);}
}
@keyframes experiment {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes colorChange1 {
    0% {
         background-color: #000000; 
        }
    50% {
         background-color: #00FFAE; 
        }
    100% {
         background-color: #000000; 
        }  
}
@keyframes colorChange2 {
    0% {
         background-color: #00FFAE; 
        }
    50% {
         background-color: #000000; 
        }
    100% {
         background-color: #00FFAE; 
        }  
}
@keyframes reaction {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
