@import url('reset.css');
@import url('font.css');
*{
    box-sizing: border-box;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    font-family: 'Montserrat';
}
.first-screen{
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.experiment{
    display: flex;
    flex-direction: row;
    height: 6vw;
    width: fit-content;
    background-color: #fff;
    font-size: 5vw;
    font-weight: 900;
    gap: 2vw;
}
.first-screen-body{
    display: flex;
    flex-direction: row;
}
.welcome-screen{
    display: flex;
    flex-direction: column;
    background-color: #AE00FF;
    height: 39vw;
    width: 80vw;
    img{
        height: 39vw;
        width: 80vw;
    }
}
.welcome{
    display: flex;
    flex-direction: column-reverse;
    color: #fff;
    height: 13vw;
    width: fit-content;
    font-size: 3vw;
    font-weight: 900;
    padding: 1vw 1vw;
}
.tile{
    display: grid;
    grid-template-columns: repeat(10, calc((100% - 9 * 0.52vw)/10));
    grid-template-rows: repeat(2, 5vw);
    gap: 0.53vw;
    background-color: #fff;
}
.tile-black{
    background-color: #000000;
}
.tile-green{
    background-color: #00FFAE;
}
.name{
    display: flex;
    flex-direction: column-reverse;
    font-family: "Notable";
    font-size: 19vw;
    color: #fff;
    padding: 0 1vw;
}
.wheel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00FFAE;
    height: 39vw;
    width: 20vw;
    img{
        margin-left: 100%;
        height: 36vw;
        width: 36vw;
        animation: rotation 2s linear infinite;
    }
    
}
.reaction{
    display: flex;
    flex-direction: row;
    height: 6vw;
    width: fit-content;
    color:#fff;
    background-color: #000000;
    font-size: 5vw;
    font-weight: 900;
    gap: 2vw;
}

@keyframes rotation{
    0%{transform: rotate (0);}
    
    100%{transform: rotate(360deg);}
}