@import url('reset.css');
@import url('font.css');
@import url('animatoins.css');
*{
    box-sizing: border-box;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    font-family: 'Montserrat';
}
.first-screen{
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.experiment{
    display: flex;
    align-items: center;
    height: 6vw;
    background-color: #fff;
    font-size: 5vw;
    font-weight: 900;
    gap: 2vw;
    overflow: hidden;
    width: max-content;
    animation: experiment 2s linear infinite;
}

.experiment:hover {
    animation-play-state: paused;
}
.first-screen-body{
    display: flex;
    flex-direction: row;
}
.welcome-screen{
    display: flex;
    flex-direction: column;
    background-color: #AE00FF;
    height: 39vw;
    width: 80vw;
}
.welcome{
    display: flex;
    flex-direction: column-reverse;
    color: #fff;
    height: 13vw;
    width: fit-content;
    font-size: 3vw;
    font-weight: 900;
    padding: 1vw 1vw;
}
.tile{
    display: grid;
    grid-template-columns: repeat(10, calc((100% - 9 * 0.52vw)/10));
    grid-template-rows: repeat(2, 5vw);
    gap: 0.53vw;
    background-color: #fff;
}

.tile-black{
    background-color: #000000;
    transition: none;
    animation: colorChange1 0.8s step-end infinite;
}
.tile-green{
    background-color: #00FFAE;
    transition: none;
    animation: colorChange2 0.8s step-end infinite;
}

.name{
    display: flex;
    flex-direction: column;
    font-family: "Notable";
    font-size: 19vw;
    color: #fff;
    padding: 1vw 1vw;
    height: -webkit-fill-available;
    transition: color 0.3s ease-in-out;
    justify-content: end;
}
.name:hover {
    color: #1a072f;
}
.wheel1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00FFAE;
    height: 39vw;
    width: 20vw;
    img{
        margin-left: 100%;
        height: 36vw;
        width: 36vw;
        animation: rotation 2s linear infinite;
    }  
}
.reaction{
    display: flex;
    align-items: center;
    height: 6vw;
    color:#fff;
    background-color: #000000;
    font-size: 5vw;
    font-weight: 900;
    gap: 2vw;
    width: max-content;
    animation: reaction 2s linear infinite;
}
.reaction:hover {
    animation-play-state: paused;
}
.second-screen{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url('../assets/images/back1.svg');
    background-size: cover;
    background-color: #1a072f;
}
.box-circles{
    display: flex;
    flex-direction: column;
    background-color: #00FFAE;
    width: 16vw;
    height: 56vw;
    padding: 0 1vw;
    gap: 1vw;
    overflow: hidden;
}
.box-circles2{
    display: flex;
    flex-direction: column;
    background-color: #00FFAE;
    width: 16vw;
    height: 56vw;
    padding: 0 1vw;
    gap: 1vw;
    overflow: hidden;
}
.circle{
    width: 14vw;
    height: 14vw;
    background-color: #AE00FF;
    border-radius: 50%;
    flex-shrink: 0;
    animation: circles 1s linear infinite;
}
.circle:hover{
    background-color: #fff;
}
.circle2{
    width: 14vw;
    height: 14vw;
    background-color: #AE00FF;
    border-radius: 50%;
    flex-shrink: 0;
    animation: circles2 1s linear infinite;
}
.circle2:hover{
    background-color: #fff;
}
.square{
    display: grid;
    grid-template-columns: repeat(2, 6vw);
    grid-template-rows: repeat(2, 6vw);
}
.tile-white{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    gap: 2vw;
    overflow: hidden;
    
}
.tile-purple{
    background-color: #AE00FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    overflow: hidden;
}
.black-item{
    flex-shrink: 0;
    background-color: #000000;
    width: 4vw;
    height: 5vw;
    animation: road 1s linear infinite;
}
.white-item{
    flex-shrink: 0;
    background-color: #fff;
    width: 4vw;
    height: 5vw;
    animation: road 1s linear infinite;
}
.third-screen{
    display: flex;
    flex-direction: column;
    background-image: url('../assets/images/back2.svg');
    background-size: cover;
}
.third-screen-one{
    width: 100vw;
}
.block-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 84vw;
    height: 25vw;
    color:#fff;
    background-color: #28EEAF;
    font-family: 'Raboche-krestyanskiy';
    font-size: 11vw;
    letter-spacing: 1.5vw;
    padding: 10vw;
    transition: font-size 0.3s ease-in-out;
}
.block-one:hover{
    font-size: 15vw;
}
.block-two{
    display: grid;
    grid-template-columns: repeat(2, 16vw);
    grid-template-rows: repeat(2, 16vw);
    justify-content: space-between;
}
.third-screen-two{
    width: 100vw;
    overflow: hidden;
}
.block-purple{
    width: 94vw;
    height: 13vw;
    color:#fff;
    background-color: #8E08CD;
    animation: width 2s ease infinite;
}
.block-purple:hover{
    background-color: #000000;
}
.wheel2{
    width: fit-content;
    img{
        margin-top: 10%;
        width: 30vw;
        height: 30vw;
        animation: rotation 2s linear infinite;
    }
}
.wheels{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer{
    width: 100vw;
    font-family: 'Montserrat';
    font-weight: 900;
    background-color: #000000;
    color:#fff;
    padding: 3vw;
    font-size: 4vw;
    gap: 2vw;
}

@media (orientation: portrait) {
    .welcome-screen{
        width: 60vw;
        height: 160vw;
    }
    .name{
        font-size: 14vw;
    }
    .wheel1{
        height: 160vw;
        width: 40vw;
        img{
        height: 150vw;
        width: 150vw;
        }  
    }
    .box-circles2{
        display: none;
    }
    .box-circles{
        height: 160vw;
    }
    .second-screen{
        height: 160vw;
    }
    .block-one{
        width: 54vw;
        height: 14vw;
    }
    .square{
        grid-template-columns: repeat(2, 14vw);
        grid-template-rows: repeat(2, 14vw);
    }
}